flows.json
[
    {
        "id": "3de89434002c1247",
        "type": "mqtt in",
        "z": "5d417654f5814ae8",
        "name": "topic_temp",
        "topic": "ja/temp",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "fefc97c1891fe835",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 340,
        "wires": [
            [
                "b1e0a7e4b24c57b9",
                "5301b953e5242ee4",
                "7cb9d325e397b7b1"
            ]
        ]
    },
    {
        "id": "b1e0a7e4b24c57b9",
        "type": "ui_gauge",
        "z": "5d417654f5814ae8",
        "name": "",
        "group": "48c179acb4326215",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "TEMPERATURA",
        "label": "grados ",
        "format": "{{value}}",
        "min": "0",
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 530,
        "y": 340,
        "wires": []
    },
    {
        "id": "b9a0fa607d20ebae",
        "type": "mqtt in",
        "z": "5d417654f5814ae8",
        "name": "topic_hum",
        "topic": "ja/hum",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "b01d223fc0c395ae",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 580,
        "wires": [
            [
                "7d810bfa80d9db70",
                "3201418218f19742"
            ]
        ]
    },
    {
        "id": "7d810bfa80d9db70",
        "type": "ui_gauge",
        "z": "5d417654f5814ae8",
        "name": "",
        "group": "423909dbecc3a6d5",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "HUMEDAD",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 600,
        "wires": []
    },
    {
        "id": "5301b953e5242ee4",
        "type": "ui_chart",
        "z": "5d417654f5814ae8",
        "name": "",
        "group": "48c179acb4326215",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Tendencias",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "1",
        "ymax": "80",
        "removeOlder": 1,
        "removeOlderPoints": "100",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 550,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "7cb9d325e397b7b1",
        "type": "function",
        "z": "5d417654f5814ae8",
        "name": "funcion",
        "func": "if (msg.payload > 30) {\n    msg.payload = \"Alta temperatura\" ;\n   \n}\nelse \n{\n    msg.payload = \"Estado normal\";\n    \n}\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 440,
        "wires": [
            [
                "68e046541a0b5957",
                "cfcd43105d762f1a"
            ]
        ]
    },
    {
        "id": "68e046541a0b5957",
        "type": "ui_text",
        "z": "5d417654f5814ae8",
        "group": "48c179acb4326215",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Estado °C",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 760,
        "y": 440,
        "wires": []
    },
    {
        "id": "3201418218f19742",
        "type": "function",
        "z": "5d417654f5814ae8",
        "name": "function 1",
        "func": "\nif (msg.payload < 40) {\n\n    msg.payload = \"El generador esta seco\";\n}\nelse \n{\n    msg.payload = \"Humedad en el generador\";\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 680,
        "wires": [
            [
                "82e22ea5777f4862",
                "c3095ef90ba09306"
            ]
        ]
    },
    {
        "id": "82e22ea5777f4862",
        "type": "ui_text",
        "z": "5d417654f5814ae8",
        "group": "423909dbecc3a6d5",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Estado %",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": 16,
        "color": "#ff0000",
        "x": 760,
        "y": 680,
        "wires": []
    },
    {
        "id": "ef7bd1748dcb03ff",
        "type": "ui_text",
        "z": "5d417654f5814ae8",
        "group": "946bb7177d1cf812",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Datos",
        "format": "P= 46 MW ; P.activa = 40MW ; P.react = 1.05MVar ; #Polos = 16 ",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 130,
        "y": 460,
        "wires": []
    },
    {
        "id": "c3095ef90ba09306",
        "type": "function",
        "z": "5d417654f5814ae8",
        "name": "function 2",
        "func": "\nif (msg.payload == \"Humedad en el generador\" ) {\n\n    msg.payload = \"Secado de recinto\";\n}\nelse \n{\n    msg.payload = \"s/n\";\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 540,
        "wires": [
            [
                "12ec1be1849a4d80"
            ]
        ]
    },
    {
        "id": "12ec1be1849a4d80",
        "type": "ui_text",
        "z": "5d417654f5814ae8",
        "group": "423909dbecc3a6d5",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Actividad de Matenimiento",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": 16,
        "color": "#00ff00",
        "x": 1020,
        "y": 540,
        "wires": []
    },
    {
        "id": "cfcd43105d762f1a",
        "type": "function",
        "z": "5d417654f5814ae8",
        "name": "function 3",
        "func": "if (msg.payload == \"Alta temperatura\") {\n    msg.payload = \" Falta aceite en la cuba, Falla en el radiador \";\n \n}\nelse \n{\n    msg.payload = \"s/n\";\n  \n}\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 340,
        "wires": [
            [
                "51f6c96e8e024da7"
            ]
        ]
    },
    {
        "id": "51f6c96e8e024da7",
        "type": "ui_text",
        "z": "5d417654f5814ae8",
        "group": "48c179acb4326215",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Actividad de mantenimiento",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": 16,
        "color": "#00ff00",
        "x": 1020,
        "y": 340,
        "wires": []
    },
    {
        "id": "83831615f951d22e",
        "type": "ui_text",
        "z": "5d417654f5814ae8",
        "group": "ba126b68fdbba986",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Javier Asimbaya, Alexander Caiza",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 220,
        "y": 520,
        "wires": []
    },
    {
        "id": "fefc97c1891fe835",
        "type": "mqtt-broker",
        "name": "BROKER",
        "broker": "test.mosquitto.org",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "48c179acb4326215",
        "type": "ui_group",
        "name": "mqtt_temp_28",
        "tab": "f3b4318bdaca2227",
        "order": 18,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b01d223fc0c395ae",
        "type": "mqtt-broker",
        "name": "BROKER",
        "broker": "test.mosquitto.org",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "423909dbecc3a6d5",
        "type": "ui_group",
        "name": "mqtt_hum_28",
        "tab": "f3b4318bdaca2227",
        "order": 18,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "946bb7177d1cf812",
        "type": "ui_group",
        "name": "Ficha Tecnica",
        "tab": "f3b4318bdaca2227",
        "order": 22,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ba126b68fdbba986",
        "type": "ui_group",
        "name": "Integrantes",
        "tab": "f3b4318bdaca2227",
        "order": 24,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f3b4318bdaca2227",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "528ed60e35522ba0",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.5"
        }
    }
]